@import url('http://fonts.cdnfonts.com/css/cocogoose');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0% 2%;
  font-family: poppins, sans-serif;
  background-color: black;
}

.fa-bars {
  font-size: 2.5rem;
  color: orange;
}

.quote {
  font-size: 1.3rem;
  font-family: 'poppins', sans-serif;
  background-image: url('./images/bcg/text.jpg');
  background-position: 50% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1.3rem;
  line-height: 1.2;
}

.header {
  font-family: 'poppins', sans-serif;
  font-size: 1.6rem;
  background-image: url('./images/bcg/text.jpg');
  background-position: 50% 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 1rem;
  line-height: 1.2;
}

.description {
  margin-top: 0.5rem;
  color: #272a31;
  opacity: 0.8;
}

.see-program {
  display: none;
}

.desktop-mini-nav {
  display: none;
}

.logo {
  width: 55%;
  background-color: grey;
  padding: 1rem;
  border-radius: 0 2rem;
}

.date {
  font-size: 1.3rem;
  margin-top: 1.5rem;
  color: white;
  opacity: 0.8;
}

.navigation {
  position: sticky;
  top: 0;
  padding: 1rem 1.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: 10;
}

.introduction {
  background-color: rgba(0 0 0 /60%);
  padding: 1.5rem 1.3rem;
  background-image: url(./images/bcg/conference.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  padding-bottom: 3rem;
}

.description.first {
  border: 4px solid white;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 0.2rem;
  background-color: white;
}

.chess-icon {
  width: 25%;
  position: absolute;
  top: 0%;
  right: 30%;
}

.header-icon {
  width: 20%;
  position: absolute;
  top: 36.5%;
  right: 14%;
}

.description-venue {
  font-family: Lato, sans-serif;
  color: white;
  opacity: 0.8;
  font-size: 1.2rem;
  margin-top: 0.3rem;
}

.main {
  padding: 0.8rem;
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
}

.lecture {
  width: 15%;
}

.schedule {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0.8rem;
  background-color: rgba(255 255 255/15%);
  margin-top: 0.8rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.schedule:hover {
  background-color: black;
  transform: scale(0.95);
}

.fa-person-chalkboard {
  font-size: 2rem;
}

.header-schedule {
  font-size: 1.3rem;
  color: #ec5242;
  font-family: Lato, sans-serif;
}

.underline {
  width: 20%;
  height: 0.1rem;
  background-color: #ec5242;
  align-self: center;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.schedule-description {
  width: 50%;
  font-size: 1rem;
  color: white;
  font-family: Lato, sans-serif;
  opacity: 0.9;
}

.header-main {
  text-align: center;
  color: white;
  font-family: Lato, sans-serif;
  margin-top: 2rem;
  font-size: 2rem;
}

.btn {
  font-family: Lato, sans-serif;
  font-size: 1.5rem;
  margin: 2.5rem 0;
  padding: 1.5rem 0.5rem;
  width: 90%;
  align-self: center;
  background: #ec5242;
  color: white;
  border: 1px solid #ec5242;
}

.speaker-header {
  color: #272a31;
}

.speakers-section {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-family: Lato, sans-serif;
  padding: 0 1.3rem;
  background-image: linear-gradient(
      180.45deg,
      rgba(209, 208, 208, 0.9) 0.75%,
      rgba(255, 255, 255, 0.9) 61.94%
    ),
    url(./images/bodyBcg.jpeg);
}

.speaker-img {
  width: 40%;
  object-fit: cover;
  height: 10rem;
  margin-right: 1rem;
  box-shadow: 5px 7px 3px lightgrey;
  border-radius: 0.2rem;
}

.speaker {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.2rem;
}

.speaker-details {
  width: 57%;
  margin-right: 3rem;
}

.speaker-description {
  color: #272a31;
  font-family: Lato, sans-serif;
  opacity: 0.9;
}

.speaker-underline {
  width: 15%;
  height: 0.2rem;
  background-color: #272a31;
  margin: 0.8rem 0;
}

.about-underline {
  background-color: #ec5242;
  width: 13%;
  height: 0.2rem;
  align-self: center;
  margin: 1.5rem 0;
}

.italic {
  color: red;
  margin-top: 0.5rem;
  font-size: 1.2rem;
}

.name {
  color: #272a31;
  font-size: 1.3rem;
}

.speakers-list {
  margin-top: -2rem;
}

.more-btn {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  font-family: Lato, sans-serif;
  margin: 2.5rem 0;
  border-radius: 0.2rem;
}

.more-text {
  color: #272a31;
  opacity: 0.9;
  margin-right: 0.5rem;
}

.fa-chevron-down {
  color: red;
  opacity: 0.8;
}

.more-speakers {
  display: none;
  margin-top: -5rem;
}

.more-speakers.show {
  display: block;
}

.introduction.about {
  text-align: center;
}

.about-description {
  background-color: white;
  box-shadow: 0 0 10px grey;
}

.contacts-div {
  font-family: Lato, sans-serif;
  color: #272a31;
  font-size: 1.25rem;
  opacity: 0.9;
  padding-bottom: 3.5rem;
  padding-top: 1.5rem;
}

.email {
  font-family: Lato, sans-serif;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  border-bottom: 1px solid white;
  padding: 0.25rem 0;
}

.contacts {
  padding: 1rem;
  color: white;
}

.logo-section {
  background-color: white;
  padding: 1.3rem;
  text-align: center;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
}

.about-logo {
  width: 40%;
}

.logo-div {
  padding: 2rem 0;
  margin-top: 3rem;
  border: 1px solid lightgray;
}

.header-about {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  opacity: 0.9;
}

.logo-description {
  font-size: 1.25rem;
  opacity: 0.9;
}

.logo-section.first {
  border-bottom: 2px solid lightgrey;
  padding-bottom: 3rem;
}

.footer-img {
  width: 20%;
  margin-right: 0.4rem;
  opacity: 0.8;
}

.footer-icon {
  display: flex;
  align-items: center;
  width: 45%;
  font-size: 0.9rem;
}

.gallery {
  margin-top: 1rem;
  font-family: poppins, sans-serif;
}

.img-about {
  margin-top: 1rem;
  color: whitesmoke;
  overflow: hidden;
  cursor: pointer;
}

.header-gallery {
  font-size: 2rem;
}

.first-div {
}

.second-div {
  background-image: url('./images/istock-628483496.jpg');
  background-size: cover;
  background-color: #ec5242;
  background-blend-mode: multiply;
  margin-bottom: 3rem;
}

.img-flow {
  transition: all 0.5s ease-in-out;
}

.img-flow:hover {
  transform: scale(1.2);
}

.first-flow {
  background-color: #ec5242;
  background-image: url('./images/img1.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  padding: 4rem 0;
}

.second-flow {
  background-color: #ec5242;
  background-image: url('./images/istock-628483496.jpg');
  background-size: cover;
  background-blend-mode: multiply;
  padding: 4rem 0;
}

.partner-icons {
  margin-top: -2rem;
}

.partner-icon {
  width: 15%;
}

.first-icons {
  display: flex;
  justify-content: space-between;
}

.oracle {
  width: 30%;
}

.microsoft {
  width: 30%;
}

.partners {
  background-color: #272a31;
  color: whitesmoke;
}

.summit-header {
  font-size: 1.5rem;
  opacity: 0.9;
}

.footer-description {
  font-size: 1rem;
  font-family: Lato, sans-serif;
  opacity: 0.9;
  display: flex;
  align-items: center;
  color: #272a31;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 2rem 1.5rem;
}

.menu {
  width: 0%;
  background-color: rgba(0 0 0 /85%);
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  font-family: Lato, sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 0.4s linear;
  overflow: hidden;
}

.menu.on {
  width: 100%;
}

.desktop-menu {
  display: none;
}

.fa-xmark {
  color: white;
  font-size: 2rem;
  align-self: flex-end;
  margin-top: 2rem;
  margin-right: 1rem;
}

.menu-item {
  list-style: none;
  margin-top: 2rem;
}

.link {
  color: whitesmoke;
  text-decoration: none;
  font-size: 2rem;
}

.menu-links {
  padding-left: 1rem;
}

.speaker-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-speakers {
  display: none;
}

.first-mob-speakers {
  margin-top: -2rem;
}

@media (min-width: 768px) {
  .fa-bars {
    display: none;
  }

  .desk-link-item {
    list-style: none;
    transition: all 0.5s ease-in-out;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
  }

  .navigation {
    padding: 0;
  }

  .desk-links {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    margin-right: 10rem;
  }

  .desk-link {
    font-family: Lato, sans-serif;
    color: #272a31;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  .desk-link:hover {
    color: #ec5242;
  }

  .home-link {
    width: 20%;
  }

  .desktop-logo {
    width: 20%;
  }

  .home-logo {
    width: 100%;
    margin-left: 10rem;
  }

  .campaign {
    border: 3px solid #ec5242;
    padding: 0.3rem 0.4rem;
  }

  .introduction {
    padding: 5rem 10rem;
    display: flex;
    flex-direction: column;
  }

  .quote {
    font-size: 2.2rem;
  }

  .header {
    font-size: 2.8rem;
  }

  .description.first {
    font-size: 1rem;
    width: 40%;
    font-family: Lato, sans-serif;
  }

  .description-venue {
    font-size: 1rem;
    width: 40%;
    font-family: Lato, sans-serif;
  }

  .underline {
    width: 4%;
  }

  .header-main {
    font-size: 1.5rem;
  }

  .schedule {
    flex-direction: column;
    width: 19.5%;
    justify-content: start;
    padding: 1rem 0;
  }

  .schedules {
    display: flex;
    padding: 0;
    justify-content: space-between;
    width: 80%;
    align-self: center;
  }

  .header-schedule {
    font-size: 1rem;
    margin-top: 0.5rem;
  }

  .schedule-description {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    margin-top: 0.5rem;
    width: 80%;
    height: 50%;
  }

  .main {
    padding: 0;
  }

  .btn {
    display: none;
  }

  .see-program {
    display: block;
    align-self: center;
    color: white;
    opacity: 0.9;
    font-size: 0.9rem;
    margin: 3rem 0;
  }

  .mobile {
    display: none;
  }

  .desktop-speakers {
    width: 70%;
    align-self: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
    gap: 2px;
    grid-auto-rows: 160px;
  }

  .speaker-img {
    width: 40%;
    height: 8rem;
  }

  .speaker-div {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    justify-content: center;
    align-items: center;
  }

  .italic {
    font-size: 0.95rem;
    opacity: 0.8;
  }

  .name {
    font-size: 1.1rem;
  }

  .speaker-underline {
    background-color: lightgray;
    width: 10%;
  }

  .about-speaker {
    font-size: 0.9rem;
    opacity: 0.9;
  }

  .partner-icon {
    width: 10%;
  }

  .oracle {
    width: 30%;
  }

  .microsoft {
    width: 30%;
  }

  .speakers-section {
    padding-bottom: 3rem;
  }

  .header-icon {
    width: 10%;
  }

  .chess-icon {
    width: 9%;
    top: 7%;
    left: 25%;
  }

  .first-icons {
    width: 30%;
    align-self: center;
    justify-content: flex-start;
    justify-content: space-evenly;
    opacity: 0.8;
  }

  .partner-icons {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .header-about {
    font-size: 1.3rem;
    margin: 0;
    margin-top: 1rem;
  }

  .about-underline {
    width: 2%;
    margin: 0;
    margin-top: 1rem;
    height: 0.1rem;
  }

  .footer-icon {
    width: 15%;
  }

  .footer-description {
    font-size: 0.9rem;
  }

  .footer {
    justify-content: flex-start;
    justify-content: center;
    padding: 0;
    padding: 3rem 0;
  }

  .first-icons.second {
    display: none;
  }

  .partners.about {
    display: none;
  }

  .about-description {
    align-self: center;
  }

  .logo-description {
    width: 30%;
    align-self: center;
    margin: 1rem;
  }

  .about-logo {
    width: 30%;
  }

  .logo-div {
    width: 30%;
    align-self: center;
  }

  .gallery {
    display: flex;
    justify-content: center;
  }

  .img-about {
    width: 30%;
    height: 90%;
  }

  .first-div {
    margin-right: 1rem;
  }

  .about-footer {
    background-color: #272a31;
    color: whitesmoke;
    opacity: 0.8;
  }

  .about-footer-description {
    color: whitesmoke;
  }

  .desktop-mini-nav {
    display: flex;
    flex-direction: row-reverse;
    background-color: #272a31;
    padding: 0.3rem;
  }

  .mini-links {
    display: flex;
    width: 25%;
  }

  .mini-item {
    list-style: none;
    margin-right: 1.2rem;
  }

  .mini-link {
    text-decoration: none;
    color: white;
  }

  .mini-link:hover {
    color: #ec5242;
  }

  .select {
    border-bottom: 2px solid #ec5242;
  }

  .desk-link-item:hover {
    transform: scale(1.3);
  }
}
